{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Selection</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <style>
      

        .new-trip {
            font-size: 30px;
            position: relative;
            top: 35px;
            left: 40%;
            width: 21%;
        }

 
        #tripcreatesubmitButton {
            position: relative;
            left: 290px;
            width: 52%;
            border-radius: 10px;
            background: orangered;
            color: white;
            cursor: pointer;
            bottom: 259px;
        }

        #tripcreatesubmitButton:hover {
            border-color: #6284FF;
        }

        label{
            font-weight: 400;
        }

        .trip-bus-info-form {
            left: 247px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 20%;
            position: relative;
            top: 79px;
        }

        .trip-details-entry-form {
            width: 20%;
            position: relative;
            left: 692px;
            display: flex;
            flex-direction: column;
            gap: 11px;
            bottom: 315px;
        }

        h2{
            font-weight: 400;
            font-size: 16px;
        }

        input,
        select {
            border-radius: 10px;
            height: 32px;
        }


        .trip-create {
            top: 130px;
            position: relative;
            background: white;
            left: 112px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            /* padding: 94px; */
            width: 89%;
        }
    </style>
</head>
<body>
<div class="trip-create">
    <form id="trip_create_form">
        <h3 class="new-trip">New Trip</h3>

        <div class="trip-bus-info-form">
            <h2 class="select-bus">Select a bus:</h2>
            <select id="bus-dropdown">
                <!-- Options will be populated dynamically by JavaScript -->
            </select>
            <h2 class="bus-number-plate">Number Plate:</h2>
            <select id="number-plate-dropdown">
                <!-- Options will be populated dynamically by JavaScript -->
            </select>
            <h2 class="bus-total-seats">Total Seats:</h2>
            <input type="text" id="total-seats" readonly>   

            <h2 class="bus-features">Features:</h2>
            <select name="features[]" id="features-dropdown" multiple>
                <!-- Options will be populated dynamically by JavaScript -->
            </select>

            <h2 class="bus-drivers">Drivers:</h2>
            <select name="driver" id="drivers-dropdown">
                <!-- Options will be populated dynamically by JavaScript -->
            </select>
        </div>

        <div class="trip-details-entry-form">
            <label for="origin" class="trip-origin-label">From</label>
            <input type="text" name="origin" id="origin" placeholder="Enter Origin" required>
            
            <label for="destination" class="trip-destination-label">To</label>
            <input type="text" name="destination" id="destination" placeholder="Enter Destination" required>
            
            <label for="departure_date" class="trip-departure-date">Departure Date</label>
            <input type="date" name="departure_date" id="departure_date" placeholder="Enter departure date" required>
            
            <label for="departure_time" class="trip-departure-time-label">Departure Time</label>
            <input type="time" name="departure_time" id="departure_time" placeholder="Enter time of departure" required>

            <label for="price" class="trip-price-label">Price</label>
            <input type="number" name="price" id="price" placeholder="Enter Price" required>

        </div>
        <input type="submit" id="tripcreatesubmitButton" value="Submit">

    </form>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>

        const access_token = localStorage.getItem('access_token')

        // Fetch data from the backend API
        fetch('https://yenda-crs-api-2.onrender.com/api/v1/bus-list/', {
            headers: {
                'Authorization': "JWT " + access_token 
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log("Response data:", data); // Log the response data to inspect its structure
            const buses = data.data; // Access the array of bus objects
            
            const busDropdown = document.getElementById('bus-dropdown');
            const numberPlateDropdown = document.getElementById('number-plate-dropdown');
            const totalSeatsInput = document.getElementById('total-seats');
            const featureDropdown = document.getElementById('features-dropdown');

            buses.forEach(bus => {
                // Populate bus dropdown
                const option = document.createElement('option');
                option.value = bus.id; // Assuming bus id is available
                option.textContent = `${bus.attributes.bus_type} (${bus.attributes.total_seats} seats)`;
                busDropdown.appendChild(option);
                
                // Populate number plate dropdown
                const plateOption = document.createElement('option');
                plateOption.value = bus.attributes.number_plate;
                plateOption.textContent = bus.attributes.number_plate;
                numberPlateDropdown.appendChild(plateOption);
            });

            // Event listener for bus selection
            busDropdown.addEventListener('change', function() {
                const selectedBusId = this.value;
                const selectedBus = buses.find(bus => bus.id === selectedBusId);
                
                if (selectedBus) {
                    // Update number plate field
                    numberPlateDropdown.value = selectedBus.attributes.number_plate;
                    
                    // Update total seats field
                    totalSeatsInput.value = selectedBus.attributes.total_seats;

                    // Clear previous options in featureDropdown
                    featureDropdown.innerHTML = '';

                    // Populate featureDropdown with the features of the selected bus
                    if (selectedBus.attributes.features && Array.isArray(selectedBus.attributes.features)) {
                        selectedBus.attributes.features.forEach(feature => {
                            const option = document.createElement('option');
                            option.value = feature.id;
                            option.textContent = feature.name;
                            featureDropdown.appendChild(option);
                        });
                    } else {
                        console.error('Error: Features data not available for the selected bus');
                    }
                } else {
                    console.error('Error: Selected bus not found');
                }
            });
        })
        .catch(error => console.error('Error fetching data:', error));

        $('#features-dropdown').select2({
            placeholder: "Select a Feature",
        });

        // Ajax Request to get features
        $.ajax({
            url: "https://yenda-crs-api-2.onrender.com/api/v1/features/",
            type: "GET",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("Authorization", "JWT " + access_token); // Include access token in the headers
            },
            success: function(response) {
                console.log("Response:", response);
                // Check if response contains the data array
                if (response.data && Array.isArray(response.data)) {
                    // Populate the dropdown with the retrieved features
                    response.data.forEach(function(feature) {
                        // Access the ID and attributes object of each feature
                        var featureId = feature.id;
                        var attributes = feature.attributes;
                        // Append the feature name and ID to the dropdown
                        $('#features-dropdown').append('<option value="' + featureId + '">' + attributes.name + '</option>');
                    });
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching features:", error);
            }
        });

        // Ajax Request to get features
        $.ajax({
            url: "https://yenda-crs-api-2.onrender.com/api/v1/driver/",
            type: "GET",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("Authorization", "JWT " + access_token); // Include access token in the headers
            },
            success: function(response) {
                console.log("Driver Response:", response);
                // Check if response contains the data array
                if (response.data && Array.isArray(response.data)) {
                    // Populate the dropdown with the retrieved features
                    response.data.forEach(function(driver) {
                        // Access the ID and attributes object of each feature
                        var driverId = driver.id;
                        var attributes = driver.attributes;
                        // Append the feature name and ID to the dropdown
                        $('#drivers-dropdown').append('<option value="' + driverId + '">' + attributes.driver_name + '</option>');
                    });
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching features:", error);
            }
        });

        $("#trip_create_form").submit(function(e) {
            e.preventDefault(); // Prevent default form submission
            $('#tripcreatesubmitButton').val('Submitting...');
            // Construct the payload object
            var payload = {
                "data": {
                    "type": "TripScheduleCreateView",
                    "attributes": {
                        "bus_type": $("#bus-dropdown").val(),
                        "total_seats": $("#total-seats").val(),
                        "number_plate": $("#number-plate-dropdown").val(),
                        "features": $("#features-dropdown").val() || [], // Get selected features
                        "origin": $("#origin").val(),
                        "destination": $("#destination").val(),
                        "departure_date": $("#departure_date").val(),
                        "departure_time": $("#departure_time").val(),
                        "price": $("#price").val(),
                        "driver_id": $("#drivers-dropdown").val()
                    }
                }
            }

            // Convert the payload object to a JSON string
            var payloadString = JSON.stringify(payload);

            // Send AJAX request
            $.ajax({
                url: 'https://yenda-crs-api-2.onrender.com/api/v1/trip-schedules/',
                type: 'POST',
                data: payloadString ,
                contentType: 'application/vnd.api+json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Authorization", "JWT " + access_token);
                },
                success: function(response) {
                    console.log('Success:', response);
                    $('#tripcreatesubmitButton').val('Submit');
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                    $('#tripcreatesubmitButton').val('Submit');

                }
            });
        });
    </script>
</body>
</html>
{% endblock %}